[submodule "Mosaic"]
	path = Mosaic
	url = https://github.com/Stream29/mosaic.git
[submodule "KotlinMcpSdk"]
	path = KotlinMcpSdk
	url = https://github.com/ChunFeng-hx/kotlin-mcp-sdk.git
[submodule "LuceneKmp"]
	path = LuceneKmp
	url = https://github.com/Stream29/lucene-kmp.git
